div(class="text-sm p-4 fixed bottom-0 dark:text-white") 
    div name: #{title}
    div query: !{query}
    div(style=`background: ${triggered ? '#00ff0040' : '#FF000040'}`) triggered: 
        span #{triggered ? 'yes' : 'no'}
    div(style=`background: red`)
        if (overlappingPackages)
            span Overlapping packages: !{overlappingPackages.join(", ")}