div(x-show="$store.showProviders && $store.showProviders.show" x-transition:enter="transition ease-out" x-transition:enter-start="opacity-0 transform scale-95" x-transition:enter-end="opacity-100 transform scale-100" x-transition:leave="transition ease-in" x-transition:leave-start="opacity-100 transform scale-100" x-transition:leave-end="opacity-0 transform scale-95" class="w-10/12 lg:pl-6 md:pl-4 pt-5 space-y-4 flex flex-wrap")
    template(x-if="user && user.providersColored")
        template(x-for="(provider, index) in user.providersColored")
            div(x-bind:class="index % 2 !== 0 ? 'ml-4' : ''" x-data="{ show: false }" )
                a(x-on:mouseover="show = true" x-on:mouseleave="show=false" :class="`svgIcon flex cursor-pointer w-14 h-14 bg-white dark:bg-background-dark200 rounded shadow items-center ${provider.icon.type === 'class' ? 'text-4xl' : ''}`" rel="noopener noreferrer" :key="provider.id")
                    template(x-if="provider.icon.type === 'svg'")
                        div(class="p-2 w-14 h-14 flex justify-center items-center transform transition hover:scale-110"  x-html="decodeSVG(provider.icon.svg_content)")
                    template(x-if="provider.icon.type === 'class'")
                        div(class=`p-2 fa w-full items-center justify-center transform transition hover:scale-110` style="display:flex" x-bind:class="`${provider.icon.class} ${provider.icon.color}`")
                div(x-show="show" x-transition:enter="transition ease-out" x-transition:enter-start="opacity-0 transform scale-95" x-transition:enter-end="opacity-100 transform scale-100" x-transition:leave="transition ease-in" x-transition:leave-start="opacity-100 transform scale-100" x-transition:leave-end="opacity-0 transform scale-95" x-transition:leave.duration.50ms class="flex flex-col justify-center absolute z-50")
                    div(class="arrow-up ml-6 relative z-10")
                    div(class="whitespace-nowrap text-xs p-1 bg-black text-white dark:bg-white dark:text-black rounded relative shadow select-none" x-html="`${provider.name=='More Options' ? '' : 'Search on '}${provider.name}`")
